* {
    margin: 0px;
    padding: 0px;
    font-family:
    font-family: "Poppins";
}
:root {
    --numsei: white;
}
nav {
    text-align: right;
}
button {
    width: 60px;
    height: 40px;
    font-size: 18pt;
    background-color: rgb(0, 196, 0);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.292);
}
header {
    background-color: green;
    text-align: center;
    padding: 20px;
    font-size: 20pt;
}

